* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Montserrat", sans-serif;
}
ul {
  margin-top: 12px;
}
ul li {
  margin: 0 0 10px 35px;
}
p {
  line-height: 24px;
}
.container {
  background-color: #fff;
  max-width: 1080px;
  border-left: 3px solid #333;
  box-shadow: 0 0 1px 0 #ccc;
  padding: 25px;
  margin: 50px auto;
}
.header {
  display: flex;
}
.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #ccc;
}
.avatar > img {
  width: 100%;
  height: 120px;
  border-radius: 50%;
}
.name-details {
  margin-left: 40px;
}
.name-details .name {
  font-size: 25px;
  border-bottom: 1px solid #7d7d7d;
  padding-bottom: 10px;
  max-width: fit-content;
}
.name-details .designation {
  margin-top: 10px;
  font-size: 18px;
}
.name-details .location {
  margin-top: 5px;
  font-size: 13px;
}
.contact-info {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
}
.contact-info .github {
  margin-left: 12px;
}
.contact-info .links {
  font-size: 13px;
  text-decoration: none;
  color: #333;
}
h2 {
  font-size: 22px;
}
.mt-30 {
  margin-top: 30px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-5 {
  margin-top: 5px;
}
.duration {
  font-size: 13px;
  color: #434343;
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
    border-left: 0;
    box-shadow: none;
    margin: 0;
  }
  .avatar {
    width: 80px;
    height: 80px;
  }
  .avatar > img {
    height: 80px;
  }
  .header {
    display: block;
  }
  .name-details .name {
    font-size: 22px;
  }
  .name-details .designation {
    font-size: 15px;
  }
  .name-details .location {
    font-size: 13px;
  }
  .name-details {
    margin-left: 0;
  }
  .contact-info {
    flex-direction: column;
  }
  .contact-info .linkedin {
    display: flex;
  }
  .contact-info .linkedin a {
    margin-left: 5px;
  }
  .contact-info .github {
    margin-left: 0;
    margin-top: 6px;
  }
  ul li,
  p {
    font-size: 14px;
    line-height: 20px;
  }
  h2 {
    font-size: 20px;
  }
}
